<div class="proy-cont">
    <div class="proy-cont_body">
        <div class="proy-cont_body_info">

            <h3 class="">{{proy.titulo}}</h3>
            <p class="thin">{{proy.habilidades}}</p>
        </div>
        <p class="proy-cont_body-text">{{proy.descrip_proj}}</p>
        <div class="proy-cont_body_boton">
            <a href="{{proy.link_proj}}" target="blank"><app-boton-a class="boton-a" [text]="boton_ver"></app-boton-a></a>
        </div>
    </div>
    <div class="proy-cont_imgNdelete">

        
        
        <div *ngIf="authUser" class="proy-cont__delete">
            <fa-icon 
            class="a"
            [icon]="faXmark"
            (click)="onDelete(proy)"
            >
            </fa-icon>
        </div>
        <!-- <div class="proy-cont_img">
            <figure class="proy-cont_img-fig">
                <img src="{{proy.img_proyecto}}" alt="{{proy.img_proyecto}}">
                <p>{{proy.img_proyecto}}</p>
            </figure>
        </div> -->
    </div>
</div>
