<div class="m-s-e__contenedor">

    <form class="m-s-e__contenedor_form" action="">
        
        <div class="m-s-e__contenedor_form-a">

            <div class="m-s-e__contenedor_form-b">
                <label for="">Titulo</label>
                <input type="text">
                <label for="">Logo Institución</label>
                <input type="text">
                
                <label for="">Promedio</label>
                <input type="text">
            </div>
            <div class="m-s-e__contenedor_form-c">
                <div class="desde-hasta">
                    <div class="label-input marginRight">

                        <label for="">Desde</label>
                        <input type="date">
                    </div>
                    <div class="label-input">

                        <label for="">Hasta</label>
                        <input type="date">
                        <div class="inline">
                            <input type="checkbox" name="" id="">
                            <label for="">hasta el precente?</label>
                        </div>
                    </div>
                </div>
                
                <label for="">Descripción</label>
                <textarea type="text"></textarea>
            </div>
        </div>

        <app-boton-a text="enviar"></app-boton-a>
    </form>

</div>