<div class="exp__contenedor">
    <!-- <div class="exp__contenedor__header-logo">

    </div> -->
    <div class="exp__contenedor__header">
        <h3 class="exp__contenedor__header-titulo">{{form.titulo}}</h3>
        <p class="exp__contenedor__header-refe thin">Promedio: {{form.promedio}}</p>

        
    </div>
    <div class="exp__contenedor__data">
        <p class="exp__contenedor__data-fecha thin"> {{form.fecha_inicio}} / {{form.fecha_final}}</p>
        <p class="exp__contenedor__data-descrip">{{form.descrip_for}}</p>

    </div>

    <div *ngIf="authUser" class="proy-cont__delete">
        <fa-icon 
        class="a"
        [icon]="faXmark"
        (click)="onDelete(form)"
        >
        </fa-icon>
    </div>
</div>