@import "../../../styles.less";

.header{

    width: 100%;
    display: flex;
    flex-direction: column;
    
    padding:1.5rem;
    

    &__portada{
        width: auto;
        height: 225px;
        background: @A-blend;

        border-radius: 35px 35px 0 0 ;
        border: 1pt solid @A-Color-secun;

    }

    &__info {

        width: auto;
        padding: 2rem;
        background: @blanco;
        border-radius: 0 0 35px 35px ;
        justify-content: center;
        border: 1pt solid @A-Color-secun;
        
        &__cont-prof-about{
            display: flex;

            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 2rem;

        }
        &__botonera{
            margin: auto auto;
            display: flex;

        }
    
    }

    &__pers-info__cont{

        display: flex;
justify-content: center;
    }


}
