<div class="main__section__view">

  <!-- <app-edit-button *ngIf="authUser" (btnClick)="toogleEditForma()"></app-edit-button> -->
  <app-add-button *ngIf="authUser" (btnClickN)="toogleNewForma()"></app-add-button>

  
    <h1>Formación</h1>
  
    <div class="proyList" cdkDropList cdkListbox (cdkDropListDropped)="drop($event)">
      
        <app-for-item
        *ngFor="let form of forms"
            [form]="form"
            cdkDrag
            (onDeleteForm)="borrarForm(form)" 
            [cdkDragDisabled]="!authUser"
            cdkOption="form.id"
        ></app-for-item>
        
    </div>
  
  </div>


<div class="main__section__edit" *ngIf="showEditProy">
    <div   >
      <app-close-button (btnClick)="toogleEditForma()"></app-close-button>
      
      <h3>Nueva Formación</h3>

      <app-d-form [questions]="questions$ | async"
        [botonName]="botonName"
        (formOutput)="newForm($event)" 
        ></app-d-form>
    </div>
  </div>



