<div class="exp__contenedor">
    <div class="exp__contenedor__header">
        <h3 class="exp__contenedor__header-titulo">{{form.titulo}}</h3>
        <p class="exp__contenedor__header-refe thin">{{form.promedio}}</p>
        <h3 class="exp__contenedor__header-logo"> Logo</h3>
        
    </div>
    <div class="exp__contenedor__data">
        <p class="exp__contenedor__data-fecha thin"> {{form.fecha_inicio}} / {{form.fecha_final}}</p>
        <p class="exp__contenedor__data-descrip">{{form.descrip_for}}</p>

    </div>
</div>
