<div class="hab__cont">

   
    <div class="hab__cont-item">
        <div class="hab__cont-item-circle"></div>
        <div class="hab__cont-item-text">
            <p >Bla Bla</p>
            <p class="thin">100%</p>

        </div>
    </div>
    <div class="hab__cont-item">
        <div class="hab__cont-item-circle"></div>
        <p class="hab__cont-item-text">Bla Bla</p>
    </div>
    <div class="hab__cont-item">
        <div class="hab__cont-item-circle"></div>
        <p class="hab__cont-item-text">Bla Bla</p>
    </div>
    <div class="hab__cont-item">
        <div class="hab__cont-item-circle"></div>
        <p class="hab__cont-item-text">Bla Bla</p>
    </div>
    <div class="hab__cont-item">
        <div class="hab__cont-item-circle"></div>
        <p class="hab__cont-item-text">Bla Bla</p>
    </div>
    <div class="hab__cont-item">
        <div class="hab__cont-item-circle"></div>
        <p class="hab__cont-item-text">Bla Bla</p>
    </div>
    <div class="hab__cont-item">
        <div class="hab__cont-item-circle"></div>
        <p class="hab__cont-item-text">Bla Bla</p>
    </div>
    

</div>
