
<div class="persInfo">
    
    <!-- <app-edit-button *ngIf="authUser" style="top:1rem;" (btnClick)="toogleEditPer()"></app-edit-button> -->

    <div class="persInfo__list">
        
   

    <ul >
        <li><p><b>DNI: </b> {{datos.dni}}</p></li>
        <li><p><b>Fecha de Nacimiento: </b> {{datos.fecha_nac}}</p></li>
        <li><p><b>Ciudad: </b> {{datos.lugar_act}}</p></li>
    </ul>
    <ul >
        <li><p><b>Direccion: </b> {{datos.direccion_act}}</p></li>
        <li><p><b>Telefono: </b> {{datos.telefono_cel}}</p></li>
        <li><p><b>Email: </b> <a href="mailto:{{datos.email}}">{{datos.email}}</a></p></li>
    </ul>
     </div>
</div>
