@import "../../../../styles.less";

.persInfo {

    margin:1rem;
    display: flex;
    flex-wrap: wrap;

    & li{
        margin-bottom: .5rem;
        margin-right: 2rem ;
        list-style: none;
    }

}