<div class="main__section__view">

  <app-add-button (btnClickN)="toogleNewProy()"></app-add-button>
  <app-edit-button (btnClick)="toogleEditProy()"></app-edit-button>

  <h1>Proyectos</h1>

  <div class="proyList" cdkDropList (cdkDropListDropped)="drop($event)">
    
    <app-proy-item *ngFor="let proy of proys" [proy]="proy" (onDeleteProy)="borrarProy(proy)" cdkDrag>
    </app-proy-item>
  
  </div>

</div>

<!-- Form Of Edit Proyects -->


<div class="main__section__edit" *ngIf="showEditProy">
  <div   >
    <app-close-button (btnClick)="toogleEditProy()"></app-close-button>
    
    <h3>Editar Proyecto</h3>
    <p class="main__section__edit__item">Item a Editar:  </p>
    <app-d-form [questions]="questions$ | async" (formOutput)="newProy($event)" [botonName]="botonNameEdit"></app-d-form>
  </div>
</div>



<!-- Form Of New Proyects -->
<div class="main__section__edit new" *ngIf="showNewProy">
  <div class="m-s-e__contenedor">
    
    <app-close-button (btnClick)="toogleNewProy()"></app-close-button>
    
    <h3>Nuevo Proyecto</h3>
    
    <app-d-form [questions]="questions$ | async" (formOutput)="newProy($event)" [botonName]="botonName"></app-d-form>
  
  </div> 
</div>