@import "../../../main/edit.less";

.persInfo {
    &__edit{

        display: flex;
        flex-direction: column;
        font-size: (@font-size-base / 1.1) ;
        background:@A-blend-B;
        padding:2rem;
        border-radius: 35px;

        
        
        

        &__cont-b{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

    }

}