<div class="persInfo__edit">

    <form class="m-s-e__contenedor_form" action="">
        
        <div class="persInfo__edit__cont-b">

            <div class="persInfo__edit__cont-b">
                <div class="label-input marginRight">

                    <label for="">Nombre</label>
                    <input type="text">
                </div>
                <div class="label-input marginRight">

                    <label for="">Apellido</label>
                    <input type="text">
                </div>
                <div class="label-input marginRight">

                    <label for="">Profesión</label>
                    <input type="text">
                </div>
                <div class="label-input marginRight">

                    <label for="">DNI</label>
                    <input type="text">
                </div>
                <div class="label-input marginRight">

                    <label for="">Fecha de Nacimiento</label>
                    <input type="date">
                </div>
                <div class="label-input marginRight">
                    
                    <label for="">Telefono</label>
                    <input type="text">
                </div>
                <div class="label-input marginRight">
                    <label for="">E-mail</label>
                    <input type="text">
                </div>
                <div class="label-input marginRight">
                    <label for="">Direccion</label>
                    <input type="text">
                </div>
                <div class="label-input marginRight">
                    <label for="">Ciudad</label>
                    <input type="text">
                </div>
                <div class="label-input">
                    <label for="">Bio</label>
                    <textarea type="text"></textarea>
                </div>
            </div>
            
                
            
            
        </div>

        <app-boton-a text="Editar"></app-boton-a>
    </form>

</div>