<div class="main">
    <div class="main__section">
        <h1>Experiencia</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas aspernatur illum, vitae itaque animi adipisci quaerat obcaecati voluptatibus iste tempore nobis ullam! Ipsam, nisi exercitationem expedita reiciendis asperiores cupiditate.</p>

    </div>
    <div class="main__section">
        <h1>Formación</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas aspernatur illum, vitae itaque animi adipisci quaerat obcaecati voluptatibus iste tempore nobis ullam! Ipsam, nisi exercitationem expedita reiciendis asperiores cupiditate.</p>

    </div>
    <div class="main__section">
        <h1>Habilidades</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas aspernatur illum, vitae itaque animi adipisci quaerat obcaecati voluptatibus iste tempore nobis ullam! Ipsam, nisi exercitationem expedita reiciendis asperiores cupiditate.</p>

    </div>
    <div class="main__section">
        <h1>Proyectos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas aspernatur illum, vitae itaque animi adipisci quaerat obcaecati voluptatibus iste tempore nobis ullam! Ipsam, nisi exercitationem expedita reiciendis asperiores cupiditate.</p>

    </div>
</div>
