<nav class="navbar">
    <div class="navbar__logo">
        <img src="../../../assets/img/APLogo-20-20.png" alt="">
        <h3>#YoProgramo <br> <span class="sec">2da edición</span> </h3>
    </div>
    <div class="navbar__redes">
      
        <div class="navbar__redes-links">
            <i></i>
            <a href="https://www.instagram.com/toledomargalef/">@toledomargalef</a>
        </div>
    </div>
    <!-- <div class="navbar__sesion">
        <app-boton-sesion [text]="inicioS" *ngIf="!authUser" (click)="toLogin()"></app-boton-sesion>
        <div *ngIf="authUser">
            <app-boton-sesion [text]="cierreS"  (click)="logOut()"></app-boton-sesion>
        </div>

    </div> -->
</nav>