 @import "../../../styles.less";


.navbar{
    width: 100%;
    position: sticky;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: @A-color-prima;
    color: @blanco;
    font-size: @font-size-base;

    &__logo{
        display: flex;
        align-items: center;
        margin-left: 1rem;
        img{
            width: 150px;
        }
        h3{
            margin-left: 1rem;
            color: @blanco;
        }

    }
    &__redes{
        

        display: flex;
        width: 300px;
        flex-direction: row;



        &-links a{
            color: @blanco;
            font-size: .9rem;
            padding: .8rem;
            margin-left: 1rem;
            text-decoration: none;

        }
    }

    &__sesion{

        padding: 1rem;
        margin-right: 1rem;

    }

    


}