<div class="m-s-e__contenedor">

    <form class="m-s-e__contenedor_form" action="">
        
        <div class="m-s-e__contenedor_form-a">

            <div class="m-s-e__contenedor_form-b">
                <label for="">Habilidad</label>
                <select name="" id="">
                   <option value="">JavaScript</option>
                   <option value="">Html y Css</option>
                   <option value="">Less</option>
                   <option value="">Angular</option>
                   <option value="">Java</option>
                </select>
                <label for="">Porsentage</label>
                <input type="text">
                
                
                
                <label for="">Descripción</label>
                <textarea type="text"></textarea>
            </div>
        </div>

        <app-boton-a text="enviar"></app-boton-a>
    </form>

</div>